<mat-grid-list cols="2" rowHeight="2:1" gutterSize="20px">
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          This is the title
        </mat-card-title>
        <mat-card-subtitle>
          This is the sub title
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        This is the content
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Apply</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          This is the title
        </mat-card-title>
        <mat-card-subtitle>
          This is the sub title
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        This is the content
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary">Apply</button>
      </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>
</mat-grid-list>
